doctype html
html 
    head   
        title Index Page 
        meta(charset = 'utf=8')
    body 
        form(method='post' action='/login')
            div
                label Username:
                input#username-input(name='username' type='text')
            div
                label Password:
                input#password-input(name='password' type='password')
            button(type='submit') Submit